# Lists
- Lists are ordered, mutable collection of items
- They can contain items of different data types

Outline
1. Introduction to Lists
2. Creating Lists
3. Accessing List Elements
4. Modifying List Elements
5. List Methods
6. Slicing Lists
7. Iterating Over Lists
8. List Comprehensions
9. Nested Lists
10. Practical Examples

## Creating Lists

In [37]:
my_list = []
print(my_list)

[]

In [38]:
names_list = ["Saad", "Tariq"]
print(names_list)

['Saad', 'Tariq']

In [39]:
mixed_list = ["Saad", 1, 3.14, True]
print(mixed_list)

['Saad', 1, 3.14, True]

## Accessing List Elements

In [40]:
fruits = ["Apple", "Banana", "Carrot", "Gauva"]
fruits

['Apple', 'Banana', 'Carrot', 'Gauva']

In [41]:
## Accessing 1st Element
fruits[0]

'Apple'

In [42]:
## Accessing 3rd Element
fruits[2]

'Carrot'

In [43]:
## Access Last Element
fruits[-1]

'Gauva'

## Slicing List

In [44]:
fruits = ["Apple", "Banana", "Carrot", "Gauva"]
fruits

['Apple', 'Banana', 'Carrot', 'Gauva']

In [45]:
## Accessing All fruits from Banana to End
fruits[1:]

['Banana', 'Carrot', 'Gauva']

In [46]:
## Accessing All fruits from Start to 2nd Last
fruits[:3]

['Apple', 'Banana', 'Carrot']

## Modifying List Elements

In [47]:
fruits = ["Apple", "Banana", "Carrot", "Gauva"]
fruits

['Apple', 'Banana', 'Carrot', 'Gauva']

In [48]:
## Replacing Banana with Some another Fruit
fruits[1] = "Watermelon"
fruits

['Apple', 'Watermelon', 'Carrot', 'Gauva']

## List Methods

In [49]:
fruits = ["Apple", "Banana", "Carrot", "Gauva"]
fruits

['Apple', 'Banana', 'Carrot', 'Gauva']

In [50]:
## Appending an element in a List
fruits.append("Orange")
fruits

['Apple', 'Banana', 'Carrot', 'Gauva', 'Orange']

In [51]:
## Inserting an element in any index
fruits.insert(1, "Watermelon")
fruits

['Apple', 'Watermelon', 'Banana', 'Carrot', 'Gauva', 'Orange']

In [52]:
## Removing the first occurance of an item
fruits.remove("Gauva")
fruits

['Apple', 'Watermelon', 'Banana', 'Carrot', 'Orange']

In [53]:
## Remove and return the last item
fruits.pop()
fruits

['Apple', 'Watermelon', 'Banana', 'Carrot']

In [54]:
## Getting the index of a fruit
fruits.index("Apple")

0

In [55]:
## Count the number of specific item in a fruit
fruits.count("Apple")

1

In [56]:
## Sorting Items in a List
fruits.sort()
fruits

['Apple', 'Banana', 'Carrot', 'Watermelon']

In [57]:
## Reversing the order of Items in a List
fruits.reverse()
fruits

['Watermelon', 'Carrot', 'Banana', 'Apple']

In [58]:
## Clear the entire list
fruits.clear()
fruits

[]

## Iterating Over a List

In [59]:
fruits = ["Apple", "Banana", "Carrot", "Gauva"]
fruits

['Apple', 'Banana', 'Carrot', 'Gauva']

In [60]:
for fruit in fruits:
    print(fruit)

Apple
Banana
Carrot
Gauva

In [61]:
## Iterating with Index

for index, fruit in enumerate(fruits):
    print(index, fruit)

0 Apple
1 Banana
2 Carrot
3 Gauva

## List Comprehension

In [62]:
my_list = []
for x in range(10):
    my_list.append(x**2)

print(my_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
## Basic List Comprehension
my_list = [x**2 for x in range(10)]
my_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [64]:
## Conditonal Logic List Comprehension
my_list = [x**2 for x in range(10) if x%2 == 0]
my_list

[0, 4, 16, 36, 64]

In [66]:
## List Comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
lengths

[5, 5, 6, 4, 13]

## Nested List Comprehension

In [65]:
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']

pair = [[num,alpha] for num in list1 for alpha in list2]
pair

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [1, 'd'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [2, 'd'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c'],
 [3, 'd'],
 [4, 'a'],
 [4, 'b'],
 [4, 'c'],
 [4, 'd']]