# SQL and SQLite

SQL is a standard language for managing and manipulating relational databases.

SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems.

In [10]:
import sqlite3

## Connect to a Database

In [11]:
connection = sqlite3.connect("example.db")
connection

### Creating a Cursor Object

In [12]:
cursor = connection.cursor()

### Create a Table

In [13]:
cursor.execute('''
Create Table If Not Exists employees (
               id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department text
            )
''')

connection.commit()

### Run a Query

In [14]:
cursor.execute('''
Select * from employees
''')

### Insert a Data

In [15]:
cursor.execute('''
Insert into employees (name, age, department)
               values('Saad', 27, 'Machine Learning')
''')

cursor.execute('''
Insert into employees (name, age, department)
               values('John', 33, 'HR')
''')

cursor.execute('''
Insert into employees (name, age, department)
               values('Dean', 26, 'Finance')
''')

connection.commit()

In [16]:
cursor.execute('''
Select * from employees
''')
rows = cursor.fetchall()
rows

[(1, 'Saad', 27, 'Machine Learning'),
 (2, 'John', 33, 'HR'),
 (3, 'Dean', 26, 'Finance'),
 (4, 'Saad', 27, 'Machine Learning'),
 (5, 'John', 33, 'HR'),
 (6, 'Dean', 26, 'Finance'),
 (7, 'Saad', 27, 'Machine Learning'),
 (8, 'John', 33, 'HR'),
 (9, 'Dean', 26, 'Finance')]

## Update Data

In [17]:
cursor.execute(''' 
UPDATE employees
               Set age=28
               where name='Saad'
''')

In [18]:
cursor.execute('''
Select * from employees
''')
rows = cursor.fetchall()
rows

[(1, 'Saad', 28, 'Machine Learning'),
 (2, 'John', 33, 'HR'),
 (3, 'Dean', 26, 'Finance'),
 (4, 'Saad', 28, 'Machine Learning'),
 (5, 'John', 33, 'HR'),
 (6, 'Dean', 26, 'Finance'),
 (7, 'Saad', 28, 'Machine Learning'),
 (8, 'John', 33, 'HR'),
 (9, 'Dean', 26, 'Finance')]

## Delete the Data

In [19]:
cursor.execute(''' 
Delete from employees
               where name='John'
''')

In [20]:
cursor.execute('''
Select * from employees
''')
rows = cursor.fetchall()
rows

[(1, 'Saad', 28, 'Machine Learning'),
 (3, 'Dean', 26, 'Finance'),
 (4, 'Saad', 28, 'Machine Learning'),
 (6, 'Dean', 26, 'Finance'),
 (7, 'Saad', 28, 'Machine Learning'),
 (9, 'Dean', 26, 'Finance')]

## Practical Example

In [21]:
connection = sqlite3.connect("sales_data.db")
cursor = connection.cursor()

cursor.execute('''
Create Table If Not Exists sales (
               id Integer Primary Key,
               date Text Not Null,
               product Text Not Null,
               sales integer,
               region TEXT
               
            )
''')

connection.commit()

In [24]:
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product1', 200, 'North'),
    ('2023-01-03', 'Product1', 300, 'West'),
    ('2023-01-04', 'Product1', 400, 'West'),
    ('2023-01-05', 'Product1', 500, 'East'),
    ('2023-01-06', 'Product1', 600, 'South'),
]

In [25]:
cursor.executemany(''' 
    Insert into sales(date, product,sales,region)
                   values(?,?,?,?)
''', sales_data)

In [26]:
cursor.execute('''
Select * from sales
''')
rows = cursor.fetchall()
rows

[(1, '2023-01-01', 'Product1', 100, 'North'),
 (2, '2023-01-02', 'Product1', 200, 'North'),
 (3, '2023-01-03', 'Product1', 300, 'West'),
 (4, '2023-01-04', 'Product1', 400, 'West'),
 (5, '2023-01-05', 'Product1', 500, 'East'),
 (6, '2023-01-06', 'Product1', 600, 'South')]

In [27]:
connection.close()